{% extends 'base.html' %} {% block title %} Join--PiRhoTechs--GKHS Robotics {% endblock %} {% block content %}
<h1>Rookie Organizations</h1>
<p>
  To all rookies!<br />
  Here, we have provided some documentation that we are using and have found helpful over the years. We hope this helps
  any rookie teams out there!&nbsp; Items here are organized in a Timeline fashion so that teams can work through step
  by step organization.
</p>
<h4><span style="color: #b50000">Summer</span> - <span style="color: #cccccc">June-August</span></h4>
<p>1. Plan out your Budget.&nbsp; Decide how much money you will need to run your team.</p>
<ul>
  <li>
    See our
    <a title="Budget Estimate" href="static/resources/Rookies/Budget_Estimate.doc" target="_blank">budget estimate</a> from the
    2005 and 2006 Seasons (current estimate coming soon!)
  </li>
  <li>FRC Teams run on anywhere from $8,000 to $100,000+</li>
</ul>
<p>2. Plan out your Pre-Season.&nbsp; Decide what the team will do and how the team will be organized.</p>
<ul>
  <li>
    We planned out the tasks we wanted to do in Pre-Season in this
    <a title="Pre-Season Plan" href="static/resources/Rookies/Summer_and_Preseason.doc" target="_blank">document.</a> It
    includes potential team projects, sub team descriptions, engineering competitions for team meetings, mentor
    presentations, and some general tasks.
  </li>
  <li>
    Some
    <a title="NEMO Organizational Tips" href="static/resources/Rookies/Organizational_tips.doc" target="_blank"
      >organizational tips</a
    >
    from NEMO
  </li>
  <li>
    A
    <a title="NEMO Rookie Advice" href="static/resources/Rookies/advice_for_rookie_teams.doc" target="_blank"
      >few hints... (advice for rookies)</a
    >
    from NEMO
  </li>
  <li>
    Develop a&nbsp;<a title="Supplies Wish List" href="static/resources/Rookies/Wish_List.doc" target="_blank">Wish list</a> of
    items &amp; tools to get donated
  </li>
</ul>
<p>3. Recruit your Mentors</p>
<ul>
  <li>
    Collect Information with a Mentor
    <a title="Mentor Info Sheet" href="static/resources/Rookies/Info_Sheet.doc" target="_blank">info sheet</a>
  </li>
  <li>
    See our FIRST
    <a title="Mentor Recruiting Presentation" href="static/resources/Rookies/presentations/Handout.ppt" target="_blank"
      >Mentor Recruiting Presentation</a
    >
  </li>
</ul>
<h4><span style="color: #b50000">Preseason</span> - <span style="color: #cccccc">September-December</span></h4>
<p>4. Recruit your Students</p>
<ul>
  <li>Advertise an Info Session</li>
  <ul>
    <li>Put up some&nbsp;posters&nbsp;around the School or advertise on morning announcements, get creative!</li>
    <li>
      Recruiting Videos from Penfield:&nbsp;<span style="color: #ff0000"
        ><a title="2007 Promo Video" href="static/resources/media/videos/PromoVideoAC3.avi">2007</a
        ><span style="color: #cccccc"
          >,
          <a title="2009 Recruiting Video" href="http://www.youtube.com/watch?v=kGXvJPXCF2c" target="_blank">2009</a>,
          <a
            title="2010 Recruiting Video"
            href="http://www.youtube.com/watch?v=rNjzt6Y54fg&amp;feature=player_embedded"
            target="_blank"
            >2010</a
          ></span
        ></span
      >
    </li>
  </ul>
  <li>
    <a title="Student Info Session" href="static/resources/Rookies/presentations/Student_Info_Session.ppt" target="_blank"
      >Student Information session</a
    >
    Presentation
  </li>
</ul>
<p>5. Meet your Parents</p>
<ul>
  <li>
    Send a Letter to all of the parents of students on your team:
    <a title="Parents Letter" href="static/resources/Rookies/Parents_Letter.doc">Sample letter</a>
  </li>
  <li>You can follow the letter up with an email if you have parent emails</li>
  <li>Host a Parent Info Session:</li>

  <li>
    Get your Parents to Sign-up to Help:
    <a title="Parent Signup Letter" href="static/resources/Rookies/SignupParentLetter.doc" target="_blank"
      >Parent's sign-up letter</a
    >, <a title="Parents Info Letter" href="static/resources/Rookies/Parents Letter.doc">Parent Info Letter</a>
  </li>
</ul>
<p>6. Start Fundraising!!</p>
<ul>
  <li>
    Decide your fundraisers or have students develop ideas:
    <a title="Fundraising Approval Form" href="static/resources/Rookies/FUNDRAISING_FORM.doc" target="_blank"
      >fundraising form</a
    >
  </li>
  <li>
    Run a
    <a
      title="Patron Drive Presentation"
      href="static/resources/Rookies/presentations/PatronDrivePresentation2011.pdf"
      target="_blank"
      >Patron Drive</a
    >
    to get donations from the community.
  </li>
  <li>See our <a title="Fundraising Ideas" href="team/fundraising.php">Fundraising Ideas</a></li>
</ul>
<p>7. Run your Preseason</p>
<ul>
  <li>
    A sample

    <a title="Kickoff Presentation 2" href="static/resources/Rookies/presentations/Kickoff.ppt" target="_blank">Kickoff </a
    >Presentation
  </li>
  <li>
    Sub-team&nbsp;<a title="Sub-team Info Sheet" href="static/resources/Rookies/SUBTEAM_Information_Sheet.doc" target="_blank"
      >sign-up sheet</a
    >
  </li>
</ul>
<h4>
  <span style="color: #b50000">Build Season<strong> </strong></span>-
  <span style="color: #cccccc">January-February</span>
</h4>
<p>8. Build Season Organization</p>
<ul>
  <li>Sample Build Season Schedules</li>
  <li>Have your Build Season Kickoff:</li>
  <li>Have your students &amp; mentors divide into sub-teams.&nbsp; We have them fill out this sheet</li>
</ul>
<p>9. Organize Your Travel</p>
<ul>
  <li>
    Example
    <a title="Example Permission Slips" href="static/resources/Rookies/Travel/permission_slips.doc" target="_blank"
      >Permission Slips</a
    >
  </li>
  <li>
    Example Trip
    <a title="Trip Sign-up Sheets" href="static/resources/Rookies/Travel/TripSignup.doc" target="_blank">Sign-up Sheets</a>
  </li>
</ul>
<p>10. Promote your Team &amp; Successes!</p>
<ul>
  <li></li>

  <li>Write Press releases</li>
</ul>
<h4><span style="color: #b50000">OTHER INFO</span></h4>
<ul>
  <li>
    A <a title="What is FIRST?" href="static/resources/Rookies/WhatisFIRST_Brochure.pdf" target="_blank">FIRST</a> summary
  </li>
  <li>
    <a
      title="2012 FIRST Statistics"
      href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/frc-2016-season-facts.pdf"
      target="_blank"
      >2016 FIRST Statistics</a
    >
  </li>
</ul>
<p>&nbsp;</p>

<h1>Enter your info to join our team!</h1>
<form method="post" action="http://formspree.io/2927PIRHOTECHS@gmail.com">
  <table>
    <!--
    <tr>
        <td style="padding-left: 50px; color: #b50000;"><label for="nospam">Spam stop question: In what town is 2927 located?</label></td>
        <td><input type="text" size="30" name="nospam" id="nospam"/></td>
    </tr>
    -->
    <tr>
      <td style="padding-left: 200px; color: #b50000"><label for="name">Name</label></td>
      <td><input type="text" size="30" name="name" id="name" /></td>
    </tr>
    <tr>
      <td style="padding-left: 200px; color: #b50000"><label for="grade">Grade</label></td>
      <td><input type="text" size="5" name="grade" id="grade" /></td>
    </tr>
    <tr>
      <td style="padding-left: 200px; color: #b50000"><label for="email">E-mail</label></td>
      <td><input type="text" size="30" name="email" id="email" /></td>
    </tr>
    <tr>
      <td style="padding-left: 50px; color: #b50000">
        <label for="why">Why are you interested in FIRST Robotics/ The Group? (OPTIONAL)</label>
      </td>
      <td><textarea cols="45" rows="6" name="why" id="why"></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
{% endblock %}

<!--<a title="Parent Info Session Presentation" href="static/resources/Rookies/Parents2011.ppt" target="_blank"> Sample Presentation for Parents</a></li>-->

<!--<a title="Kickoff Presentation" href="static/resources/Rookies/presentations/ALL_TEAM.ppt" target="_blank">All Team Kickoff meeting</a>, or another -->

<!-- <a title="Thunder Highlight Reel" href="static/resources/Rookies/presentations/FLRC_Highlight.wmv"> Highlight Reel </a></li> -->
