{% extends 'base.html' %}

{% block title %}
    Resources/Links--PiRhoTechs--GKHS Robotics
{% endblock %}

{% block content %}
    <h1>Links</h1>
    <div class="officiallinks">
    <h3>Official FIRST Links</h3>
    <ul>
        <li><a title="FIRST Website" href="http://www.usfirst.org" target="_blank">FIRST</a></li>
        <li><a title="FRC Robotics Competition" href="http://www.usfirst.org/roboticsprograms/frc" target="_blank">FIRST Robotics Competition</a></li>
        <li><a title="FRC resources" href="http://www.usfirst.org/roboticsprograms/frc/resources" target="_blank">FIRST Team resources</a></li>
        <li><a title="Workshops" href="http://www.usfirst.org/roboticsprograms/firstplace/workshops-and-conferences" target="_blank">Workshops</a></li>
        <li><a title="Current Years Manual" href="http://www.usfirst.org/roboticsprograms/frc/game-and-season-info" target="_blank">Current Game Manual</a></li>
        <li><a title="Scholarships" href="http://www.usfirst.org/aboutus/scholarships" target="_blank">Scholarships</a></li>
    </ul>
    <h3>Unofficial FIRST resources</h3><ul>
        <li><a title="Chief Delphi Forums" href="http://www.chiefdelphi.com" target="_blank">ChiefDelphi Forums</a></li>
    </ul>
    <!--
    <h3>2927 Competitions</h3><ul>
        <li><a title="Finger Lakes Regional" href="http://www.firstrochester.org/" target="_blank">Finger Lakes Regional</a></li>
        <li><a title="Boston Regional" href="http://www.bostonfirst.org/" target="_blank">Boston Regional</a></li>
        <li><a title="FIRST Championship" href="http://www.usfirst.org/roboticsprograms/frc/content.aspx?id=432" target="_blank">FIRST Championship</a></li>
    </ul>
    -->
    <h3>Team Links</h3><ul>
        <li><a title="Bethel School District" href="https://www.bethelsd.org/" target="_blank">Bethel School District</a></li>
        <li><a title="Graham-Kapowsin High School" href="https://www.bethelsd.org/gkhs" target="_blank">Graham-Kapowsin High School</a></li>
        <li><a title="Jermaine Kearse Foundation" href="http://15to1.org/" target="_blank">Jermaine Kearse Foundation - 15 to 1</a></li>
        <li>
        <a title="Maker Pro" href="https://maker.pro/" target="_blank">Maker Pro</a>
        <p>They are an active, open source platform for maker projects much like Hack A Day. These projects are centered around Arduino, Raspberry Pi, Intel Edison, home automation and more. And better yet, the content is completely user-generated.</p>
        </li>

    </ul>
    </div>
    
    <div class="localteams">
    <h3>Where Can I Order Parts?</h3><ul>
        <li><a title="AndyMark Website" href="http://www.andymark.com" target="_blank">AndyMark</a></li>
        <li><a title="BaneBots Website" href="http://banebots.com/" target="_blank">Banebots</a></li>
        <li><a title="Digi-Key Website" href="http://www.digikey.com/" target="_blank">Digi-Key</a></li>
        <li><a title="National Instrument Website" href="http://www.ni.com/" target="_blank">National Instruments</a></li>
    </ul>
    <!--
    <h3>Local FIRST Teams</h3><ul>
        <li><a title="Team 73" href="http://www.edison73.com" target="_blank">Visioneers Team 73</a></li>
        <li><a title="Team 174" href="http://www.snobot.org" target="_blank">Arctic Warriors Team 174</a></li>
        <li><a title="Team 191" href="http://www.x-cats.org" target="_blank">The XCats Team 191</a></li>
        <li><a title="Team 229" href="http://team229robotics.com" target="_blank">Division By Zero Team 229</a></li>
        <li><a title="Team 340" href="http://www.team340.org" target="_blank">GRR Team 340</a></li>
        <li><a title="Team 378" href="http://www.circuitstompers.org" target="_blank">Circuit Stompers Team 378</a></li>
        <li><a title="Team 578" href="http://www.fairportfirst.com/" target="_blank">Red Raider Robotics Team 578</a></li>
        <li><a title="Team 639" href="http://team639.org" target="_blank">Code Red Robotics Team 639</a></li>
        <li><a title="Team 1126" href="http://www.gosparx.org" target="_blank">SparX Team 1126</a></li>
        <li><a title="Team 1405" href="https://sites.google.com/a/finneyschool.org/finney-robotics-1405/home" target="_blank">Finney Falcons Team 1405</a></li>
        <li><a title="Team 1450" href="http://www.xq-robotix.org" target="_blank">XQ Robotics Team 1450</a></li>
        <li><a title="Team 1507" href="http://www.warlocks1507.com/" target="_blank">Warlocks Team 1507</a></li>
        <li><a title="Team 1518" href="http://www.palmacfirst.org" target="_blank">Pal-Mac Raiders Team 1518</a></li>
        <li><a title="Team 1551" href="http://www.team1551.org" target="_blank">Grapes of Wrath Team 1551</a></li>
        <li><a title="Team 1559" href="http://team1559.com" target="_blank">Devil Tech Team 1559</a></li>
        <li><a title="Team 1591" href="http://www.greecerobotics.com" target="_blank">Greece Gladiators Team 1591</a></li>
        <li><a title="Team 2228" href="http://www.hflrobotics.com" target="_blank">CougarTech Team 2228</a></li>
        <li><a title="Team 2340" href="http://www.team2340.org/" target="_blank">Xcentric Robotics Team 2340</a></li>
        <li><a title="Team 3003" href="http://www.tan-x.info/" target="_blank">Canandaigua Robotics Team 3003</a></li>
        <li><a title="Team 3015" href="http://rangerrobot.com" target="_blank">Ranger Robotics Team 3015</a></li>
        <li><a title="Team 3157" href="http://www.eastridgerobotics.org" target="_blank">Eastridge Robotics Team 3157</a></li>
        <li><a title="Team 3173" href="http://www.igknighters.com" target="_blank">Igknighters Team 3173</a></li>
        <li><a title="Team 3181" href="http://www.pittsfordrobotics.org" target="_blank">Pittsford Panthers Team 3181</a></li>
        <li><a title="Team 3613" href="http://wolfpack3613.webs.com" target="_blank">Team WolfPack Team 3613</a></li>
        <li>Notre Dame High School Team 3799</li>
        <li>East High School Team 3842</li>
        <li>Rochester City School Team 3838</li>
        <li><a title="Team 3951" href="http://honeoyerobotics.org" target="_blank">Honeoye Robotics Team 3951</a></li>
        <li>Buffalo Academy of Science Team 4023</li>
        <li><a title="Team 4093" href="http://lego.wiksclan.com/" target="_blank">Orleans County 4H Robotics Team 4093</a></li>
        <li>Massena High School Team 4124</li>
        <li><a title="Team 4911" href="http://cyberknights4911.com/" target="_blank">Team cyberknights4911</a> Contact Brunojchris@gmail.com</li>
    </ul>
    -->
    </div>

</div>
{% endblock %}

