{% extends 'partials/base.html' %} {% block title %} Resources {% endblock %} {% block content %}
<h1>Resources</h1>

<h3>FIRST Resources</h3>
<ul>
  <li>
    <a href="http://www.firstinspires.org" target="_blank" rel="noopener noreferrer" title="FIRST Website"> FIRST </a>
  </li>

  <li>
    <a
      href="https://www.firstinspires.org/resource-library"
      target="_blank"
      rel="noopener noreferrer"
      title="FIRST Resource Library"
    >
      FIRST Resource Library
    </a>
  </li>

  <li>
    <a
      href="https://www.firstinspires.org/robotics/frc"
      target="_blank"
      rel="noopener noreferrer"
      title="FIRST Robotics Competitions"
    >
      FIRST Robotics Competitions
    </a>
  </li>

  <li>
    <a
      href="https://www.firstinspires.org/resource-library/alumni-scholarship-resources"
      target="_blank"
      rel="noopener noreferrer"
      title="Scholarship Resources"
    >
      Scholarships Resources
    </a>
  </li>

  <li>
    <a
      href="https://www.firstinspires.org/alumni/scholarships"
      target="_blank"
      rel="noopener noreferrer"
      title="Scholarships"
    >
      Scholarships
    </a>
  </li>
</ul>

<h3>Team Links</h3>
<ul>
  <li>
    <a href="https://www.bethelsd.org/" target="_blank" rel="noopener noreferrer" title="Bethel School District">
      Bethel School District
    </a>
  </li>

  <li>
    <a
      href="https://www.bethelsd.org/gkhs"
      target="_blank"
      rel="noopener noreferrer"
      title="Graham-Kapowsin High School"
    >
      Graham-Kapowsih High School
    </a>
  </li>
</ul>

<h3>Scholarships</h3>
<p>
  Many corporations, colleges and universities offer scholarships to high school students on <em>FIRST</em> teams. These
  scholarships show official recognition of the technical knowledge and life skills students have gained from
  participating in <em>FIRST</em> competitions.
</p>

<ul>
  <li>
    <em>FIRST </em>alone has almost <strong>900 individual scholarship opportunities</strong> with a total value of
    <strong>more than $19,000,000.</strong>
    <br />
    All <em>FIRST Scholarships</em> can be found at
    <a href="https://www.firstinspires.org/alumni" target="_blank" rel="noopener noreferrer"> this site. </a>
  </li>

  <li>
    There is also a
    <a href="https://www.firstinspires.org/community/newsletter" target="_blank" rel="noopener noreferrer">
      <em>FIRST Scholarship Newsletter</em>
    </a>
    that you can subscribe to for special information.
  </li>

  <li>
    <em><strong>There are many scholarship opportunities out there for STEM and non-STEM majors.</strong></em>
    <br />
    This page is a resource for scholarships currently available and any other new scholarships our team learns of, so
    check back often!
    <br />
    <a
      href="http://scholarshipamerica.org/open_scholarships.php"
      target="_blank"
      rel="noopener noreferrer"
      title="Scholarship America"
    >
      <strong>Scholarship America</strong>
    </a>
    &nbsp;- a link to a lot of different scholarships available for all different kinds of majors
  </li>
</ul>

<h3>Sponsor Resources</h3>
<ul>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer"> Your Company Could Be HERE </a>
  </li>
</ul>

<h3>Affiliate Resources</h3>
<ul>
  <li>
    <a href="http://15to1.org/" target="_blank" rel="noopener noreferrer" title="Jermaine Kearse Foundation">
      Jermaine Kearse Foundation - 15 to 1
    </a>
  </li>

  <li>
    <a href="https://www.l3harris.com/" target="_blank" rel="noopener noreferrer" title=""> Harris Corporation </a>
    <a
      href="https://www.linkedin.com/company/l3harris-technologies"
      target="_blank"
      rel="noopener noreferrer"
      title="Linkedin"
    >
      (Linkedin-1)
    </a>
    <a
      href="https://www.linkedin.com/company/harris-corporation"
      target="_blank"
      rel="noopener noreferrer"
      title="Linkedin"
    >
      (Linkedin-2)
    </a>
    <a href="https://en.wikipedia.org/wiki/Harris_Corporation" target="_blank" rel="noopener noreferrer" title="Wiki">
      (Wiki)
    </a>
    <p>
      Harris Corporation is an international communications equipment company focused on providing product, system, and
      service solutions for commercial and government customers. The company's five operating divisions serve markets
      for microwave, broadcast, network support, secure tactical radio, and government communications systems. Harris
      has more than 10,000 employees, including 4,000 engineers and scientists.
    </p>
    <p>
      Harris RF Communications Division (RFCD) is a leading supplier of secure voice and data communications products,
      systems and networks to military, government, and commercial organizations worldwide.
    </p>
  </li>

  <li>
    <a href="http://www.andymark.com" target="_blank" rel="noopener noreferrer" title="AndyMark Website"> AndyMark </a>
  </li>

  <li>
    <a href="http://banebots.com/" target="_blank" rel="noopener noreferrer" title="BaneBots Website"> Banebots </a>
  </li>

  <li>
    <a href="http://www.digikey.com/" target="_blank" rel="noopener noreferrer" title="Digi-Key Website"> Digi-Key </a>
  </li>

  <li>
    <a href="http://www.ni.com/" target="_blank" rel="noopener noreferrer" title="National Instrument Website">
      National Instruments
    </a>
  </li>

  <li>
    <a href="https://sprocketdigital.co.nz/" target="_blank" rel="noopener noreferrer"> Sprocket Digital </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/company/sprocket-digital-nz/" target="_blank" rel="noopener noreferrer">
      (Linkedin)
    </a>
  </li>

  <li>
    <a href="http://propelsoftware.com" target="_blank" rel="noopener noreferrer"> Propel Software </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/company/propelsoftware/" target="_blank" rel="noopener noreferrer">
      (Linkedin)
    </a>
    <br />

    <a
      href="http://propelsoftware.com/articles/95-manufacturing-terms-you-need-to-know"
      target="_blank"
      rel="noopener noreferrer"
    >
      95 Manufacturing Definitions
    </a>
    <p>
      For those who are new to the industry we made a definitions guide on the most important terms in manufacturing
    </p>

    <a href="http://propelsoftware.com/articles/the-manufacturing-skills-gap" target="_blank" rel="noopener noreferrer">
      Manufacturing Skills Guide
    </a>
    <p>
      In our industry the lack of manufacturing skills has created a skills gap and it's a serious issue going forward.
      One thing that is important is finding top talent to join the manufacturing force and breaking down the stigma
      that surrounds this world. We used some of our expertise and put together a manufacturing skills guide and
      included some insight on how we could solve this issue. I think it would be helpful for students interested in
      robotics that want to learn about a career in manufacturing. Check it out:
    </p>
  </li>

  <li>
    <a href="https://maker.pro/" target="_blank" rel="noopener noreferrer" title="Maker Pro"> Maker Pro </a>
    <p>
      They are an active, open source platform for maker projects much like Hack A Day. These projects are centered
      around Arduino, Raspberry Pi, Intel Edison, home automation and more. And better yet, the content is completely
      user-generated.
    </p>
  </li>

  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer"> Your Company Could Be HERE </a>
  </li>
</ul>

<h3>Other Resources</h3>
<ul>
  <li>
    <a href="http://www.chiefdelphi.com" target="_blank" rel="noopener noreferrer" title="Chief Delphi Forums">
      ChiefDelphi Forums
    </a>
  </li>

  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer"> Your Company Could Be HERE </a>
  </li>
</ul>

<h3>Other Teams With Website</h3>
<ul>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer"> Your Team Could Be HERE </a>
  </li>

  <li>
    <a href="http://www.snobot.org" target="_blank" rel="noopener noreferrer" title="Team 174">
      Arctic Warriors Team 174
    </a>
  </li>

  <li>
    <a href="http://www.x-cats.org" target="_blank" rel="noopener noreferrer" title="Team 191"> The XCats Team 191 </a>
  </li>

  <li>
    <a href="http://www.team340.org" target="_blank" rel="noopener noreferrer" title="Team 340"> GRR Team 340 </a>
  </li>

  <li>
    <a href="http://www.circuitstompers.org" target="_blank" rel="noopener noreferrer" title="Team 378">
      Circuit Stompers Team 378
    </a>
  </li>

  <li>
    <a href="http://team639.org" target="_blank" rel="noopener noreferrer" title="Team 639">
      Code Red Robotics Team 639
    </a>
  </li>

  <li>
    <a href="http://www.gosparx.org" target="_blank" rel="noopener noreferrer" title="Team 1126"> SparX Team 1126 </a>
  </li>

  <li>
    <a href="http://www.warlocks1507.com/" target="_blank" rel="noopener noreferrer" title="Team 1507">
      Warlocks Team 1507
    </a>
  </li>

  <li>
    <a href="http://cougartech.org/" target="_blank" rel="noopener noreferrer" title="Team 2228">
      CougarTech Team 2228
    </a>
  </li>

  <li>
    <a href="https://www.error3130.org/" target="_blank" rel="noopener noreferrer" title="Team 3157">
      Eastridge Robotics Team 3157
    </a>
  </li>

  <li>
    <a href="http://www.igknighters.com" target="_blank" rel="noopener noreferrer" title="Team 3173">
      Igknighters Team 3173
    </a>
  </li>

  <li>
    <a href="http://www.pittsfordrobotics.org" target="_blank" rel="noopener noreferrer" title="Team 3181">
      Pittsford Panthers Team 3181
    </a>
  </li>

  <li>
    <a href="http://cyberknights4911.com/" target="_blank" rel="noopener noreferrer" title="Team 4911">
      Team cyberknights4911
    </a>
  </li>
</ul>

<h3>Other Teams</h3>
<ul>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer"> Your Team Could Be HERE </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team   73"> Visioneers Team 73 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team  229"> Division By Zero Team 229 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team  578"> Red Raider Robotics Team 578 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1405"> Finney Falcons Team 1405 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1450"> XQ Robotics Team 1450 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1518"> Pal-Mac Raiders Team 1518 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1551"> Grapes of Wrath Team 1551 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1559"> Devil Tech Team 1559 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 1591"> Greece Gladiators Team 1591 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 2340"> Xcentric Robotics Team 2340 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 3003"> Canandaigua Robotics Team 3003 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 3015"> Ranger Robotics Team 3015 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 3613"> Team WolfPack Team 3613 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team xxxx"> Notre Dame High School Team 3799 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team xxxx"> East High School Team 3842 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team xxxx"> Rochester City School Team 3838 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 3951"> Honeoye Robotics Team 3951 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team xxxx"> Buffalo Academy of Science Team 4023 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team 4093"> Orleans County 4H Robotics Team 4093 </a>
  </li>

  <li>
    <a href="" target="_blank" rel="noopener noreferrer" title="Team xxxx"> Massena High School Team 4124 </a>
  </li>
</ul>

{% endblock %}
