{% extends 'partials/base.html' %} {% block title %} Safety {% endblock %} {% block content %}
<h1>Putting Safety FIRST!</h1>
<p style="padding-left: 20px">
  PI RHO TECHS members are gathered to have a good time while still managing safety. Here are some great safety
  resources we have put together for the benefit of our team and others!
</p>

<h1><span style="font-size: medium">Injury/Incident Reporting Form</span></h1>
<ul style="padding-left: 20px">
  <li>Report injuries and accidents</li>
  <li>Report other incidents which may affect the team's safety (near misses)</li>
  <li>Report and correct problems after an inspection</li>
</ul>
<p style="padding-left: 40px">
  Here is a
  <a title="Incident Reporting Form" href="static/resources/Safety/Safety_Incident_Report_Form.pdf" target="_blank">
    Form to Report Incidents
  </a>
</p>

<h1><span style="font-size: medium">Team 2927 Safety Handbook</span></h1>
<div style="padding-left: 30px">
  <p style="font-size: medium; text-decoration: underline"><strong>Mission Statement</strong></p>
  <p>
    We pledge to try to keep everyone safe at all times. Safety goes further than just the pit area, we will carry it
    into our own shop area and our every day lives. Safety can be as simple as announcing to everyone when you come
    through transporting large objects, and as serious as wearing safety glasses and gloves when grinding metal. Safety
    doesn't have to be boring. If safety is fun, more people will use it not as a practice, but as a good habit. In
    order for others to be safe, you must set constant examples of safe behavior and educate others on how to be safe.
    Don't just tell someone that they are doing something unsafe, explain to them the dangers of their actions and how
    they can use safety in that situation.
  </p>
  <p>
    <a title="Safety Handbook" href="static/resources/Safety/Safety_Handbook.pdf" target="_blank">
      Team safety handbook
    </a>
  </p>
</div>

<br />

<h1><span style="font-size: medium">Team 2927 Safety Program</span></h1>
<ul>
  <li>Machine Tool Safety Demos and Information Sheets</li>
  <p style="padding-left: 30px">
    <a title="Band Saw Safety" href="static/resources/Safety/Band_Saw_Safety.pdf" target="_blank">
      Sample Machine Tool Information Sheet
    </a>
  </p>
  <li>Formal Safety Presentation based on the Safety 4 the Right Reasons</li>
  <p style="padding-left: 30px">
    <a title="Safety Presentation" href="static/resources/Safety/safety_presentation.pdf" target="_blank">
      Safety Presentation
    </a>
  </p>
</ul>

<!--
<br />
<h1><span style="font-size: medium;">Team 2927 Safety Days Example <br /></span></h1>
<ul>
  <li>Spend one day a week during team dinners going over a safety topic</li>
  <li>Interactive session with the safety captain</li>
  <li>Fun and informative safety posters keep team members aware!</li>
</ul>
<p style="padding-left: 40px;"><a title="Safety Day Examples" href="static/resources/Safety/Safety Day.pdf" target="_blank">Team 1511 Saftey Days Example</a></span></p>
-->

<br />
<h1><span style="font-size: medium">MSDS Example</span></h1>
<ul>
  <li>Always have an MSDS for all chemicals and materials your team uses</li>
  <li>Most MSDS are fast and easy to find on the manufacturer's website</li>
  <li>Keep these in your team safety binder for quick reference at home and in the pits</li>
</ul>
<p style="padding-left: 40px">
  <a title="Sample MSDS" href="static/resources/Safety/MSDS_smallsealed_line.pdf" target="_blank">
    MSDS Example (Robot Battery)
  </a>
</p>

<!--
<br />
<h1>
  <span style="font-size: medium">Regional Safety Quiz</span>
</h1>
<ul>
  <li>Cool and informative safety quiz for teams to try</li>
  <li>Gives teams the opportunity to win a prize while learning more about safety!</li>
  <li>A great way to meet other teams and exchange safety information</li>
</ul>
<p style="padding-left: 40px">
  <a title="Regional Safety Quiz" href="static/resources/Safety/safety_questions_for_regionals.pdf" target="_blank">
    Regional Safety Quiz
  </a>
</p>
-->

<br />
<h1><span style="font-size: medium">Courtesy Safety Glasses Project</span></h1>
<ul>
  <li>Demonstrate to teams the importance of having enough safety glasses for your team members</li>
  <li>Show off your team spirit by coloring the courtesy glasses in your own pattern!</li>
</ul>
<p style="padding-left: 40px">
  <a
    title="Courtesy Safety Glasses Project"
    href="static/resources/Safety/Courtesy_Safety_Glass_Project.pdf"
    target="_blank"
  >
    Courtesy Safety Glasses Project
  </a>
</p>
<br />

{% endblock %}
