{% extends 'base.html' %} {% block title %} Sponsors--PiRhoTechs--GKHS Robotics {% endblock %} {% block content %}
<h1>What is FIRST?</h1>
<p>
  <br /><span style="font-size: medium; font-family: helvetica"
    ><span style="color: #ff0000"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F</strong></span
    >or</span
  >
</p>
<p>
  <span style="font-size: medium; font-family: helvetica"
    ><span style="color: #ff0000"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I</strong></span
    >nspiration and</span
  >
</p>
<p>
  <span style="font-size: medium; font-family: helvetica"
    ><span style="color: #ff0000"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R</strong></span
    >ecognition of</span
  >
</p>
<p>
  <span style="font-size: medium; font-family: helvetica"
    ><span style="color: #ff0000"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S</strong></span
    >cience and</span
  >
</p>
<p>
  <span style="font-size: medium; font-family: helvetica"
    ><span style="color: #ff0000"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; T</strong></span
    >echnology</span
  >
</p>
<p>
  <span style="font-size: medium; font-family: helvetica">
    This, in its essence, means that this organization, and all three of its competitions, is training high school and
    middle school students to be the next generation of scientists, engineers, designers, inventors, and members of
    other disciplines of science.
  </span>
</p>
<p>
  <span style="font-size: medium; font-family: helvetica"
    >FIRST's ultimate goal is to inspire students to pursue careers in science and technology related fields.</span
  >
</p>

<h2>FIRST Competitions:</h2>

<h3>
  <strong style="font-family: helvetica; font-size: medium"
    ><a title="FRC Website" href="http://www.usfirst.org/roboticsprograms/frc" target="_blank"
      >FIRST Robotics Competition</a
    >&nbsp;(FRC)
  </strong>
  <!-- <p><span style="font-family: helvetica; font-size: medium;">This is the competition that us high school students compete in. Our robots are usually large in size (the maximum allowable size is 5 feet tall!) and have a relatively large playing field (27' by 54') and have tasks that, on paper, seem relatively simple, yet are very demanding in strategy and skill.</span></p>
    <p style="text-align: center;">
    <img src="file:///C:/Users/cbarn/Desktop/Website%20Progress/Robotics--4/about/about/Images/Who_We_Are/WhatFIRST/FRC-FIELD.png" alt="" width="524" height="345" /></p>
    <p style="text-align: center;">PHS Thunderprise&nbsp;playing the 2013 Game,&nbsp;Ultimate Ascent</p> -->
</h3>

<h3>&nbsp;</h3>
<h3>
  <strong style="font-family: helvetica; font-size: medium"
    ><a title="FTC Website" href="http://www.usfirst.org/roboticsprograms/ftc" target="_blank">FIRST Tech Challenge</a
    >&nbsp;(FTC)
  </strong>
  <!-- <p><span style="font-family: helvetica; font-size: medium;">FIRST tech challenge is a robotics challenge that usually has something to do with a task that must be done entirely by the robot (Flipping switches, turning mechanisms, putting Tab A into slot B, etc.). Their fields and robots are almost always much smaller than that of FRC, but are mequired to carry out much more difficult tasks in the course of the game. This competition is also for high school students.</span></p>
    <p style="text-align: center;">
    <img src="file:///C:/Users/cbarn/Desktop/Website%20Progress/Robotics--4/about/about/Images/Who_We_Are/WhatFIRST/FTC-FIELD.png" alt="" width="542" height="373" /></p>
    <p style="text-align: center;">1st Annual Rochester FTC Tournament at St. John Fisher College</p> -->
</h3>

<h3>&nbsp;</h3>
<h3>
  <strong style="font-family: helvetica; font-size: medium">
    <a title="FLL Website" href="http://www.usfirst.org/roboticsprograms/fll" target="_blank">First Lego League</a
    >&nbsp;(FLL)
  </strong>
  <!-- <p><span style="font-size: medium; font-family: helvetica;">FIRST Lego League is the middle school level competition that FIRST created. Using the Lego Mindstorm kit, these students are tasked with programming the robot to successfully complete as many of the varied objectives they are given as possible.</span></p>
    <p style="text-align: center;">
    <img src="file:///C:/Users/cbarn/Desktop/Website%20Progress/Robotics--4/about/about/Images/Who_We_Are/WhatFIRST/FLL-FIELD.png" alt="" width="509" height="360" /></p>
    <p style="text-align: center;">Razzle Dazzle, FLL pre-competition scrimmage</p> -->
</h3>

<h1>Scholarships</h1>
<p>
  Many corporations, colleges and universities offer scholarships to high school students on <em>FIRST</em> teams. These
  scholarships show official recognition of the technical knowledge and life skills students have gained from
  participating in <em>FIRST</em> competitions.
</p>
<p>
  <em><strong>There are many scholarship opportunities out there for STEM and non-STEM majors.</strong></em> This page
  is a resource for scholarships currently available and any other new scholarships our team learns of, so check back
  often!
</p>
<p>
  <em>FIRST </em>alone has almost <strong>900 individual scholarship opportunities</strong> with a total value of
  <strong>more than $19,000,000.</strong>
</p>
<h4>Note the due dates</h4>
<p>
  Because many due date are short spanned only lasting a few months, they tend to have already past, if this is the case
  please <a href="contact.php" target="_blank">Contact Us</a> and let us know, so that we may update this page.
</p>
<hr />
<h4>
  <span style="font-size: medium"><em>FIRST</em> Scholarships</span>
</h4>
<p>
  <span style="font-size: medium; font-family: helvetica"
    >All <strong></strong><em>FIRST</em> scholarships can be found at this
    <a href="http://www.usfirst.org/aboutus/scholarships" target="_blank">site</a>.</span
  >
</p>
<p>
  There is also a
  <a href="https://www.firstinspires.org/community/newsletter"><em>FIRST </em>Scholarship Newsletter</a> that you can
  subscribe to for special information.
</p>
<hr />
<h4>
  <strong><span style="font-size: medium">Other&nbsp;Scholarships</span></strong>
</h4>
<p>
  <a href="http://scholarshipamerica.org/open_scholarships.php" target="_blank"><strong>Scholarship America</strong></a
  >&nbsp;- a link to a lot of different scholarships available for all different kinds of majors
</p>
<br />
<br />

{% endblock %}
